<div class="row">
    {{#each result}}
    <a href=/product/{{cat_id}}>
        <div class ="col-4">
            <div class="card cat-card align-items-center center">
                <div class="card-body">
                    <h5 class="card-title">
                        <h2 class="card-title">{{name}}</h2>
                    </h5>
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</div>
