{{> admin/head}}

{{> createProduct}}
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/admin" class="simple-text">
                        Shop
                    </a>
                </div>
                {{> admin/nav}}
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
    </html>