{{> head}}
{{> navbar}}
{{> registration}}
{{> login}}
<body>
    <div class="container">
        <div class="row m-2">
            {{>catNav}}
            <div class="row col-10" id="body">
                {{{body}}}
            </div>
        </div>
    </div>
{{> footer}}
</body>
</html>