{{#each categories}}
    <div class ="col-3">
        <a href=/product/:{{id}}>
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">
                        <h3 class="title">{{name}}</h3>
                    </h5>
                </div>
            </div>
        </a>
    </div>
{{/each}}
