.card-img{
    height: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cat-card{
    height: 300px;
    width: 300px;
}

.card-image{
    width: 500px;
}

.option-btn{
    margin-right: 10px;
}

